{% extends "parent.njk" %}
{% block scripts %} 
  <script src='/show.js'></script>
{% endblock %}
{% block content %}


  <table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Megjegyzés</th>
      <th>Összeg</th>
      <th>Dátum</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {%for budget in budgets%}
      {%if budget.user_id == currentUser.id%}
        <tr>
            <th scope="row">{{budget.id}}</th>
            <td>{{budget.comment}}</td>
            <td>{{budget.money}}</td>
            <td>{{budget.updated_at}}</td>
            <td><a href='/editbudgets/{{budget.id}}'>Szerkesztés</a></td>
            <td>
              <form class="delete" action = "/delete/{{budget.id}}" method="POST">
                    {{ csrfField }}
                <input class="btn btn-danger" type="submit" value="Törlés"/>
              </form>
            </td>
        </tr>
        {%endif%}
    {%endfor%}
  </tbody>
</table>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}